.BirdRow {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
}

.BirdRowName {
  margin-bottom: 0.2em;

  &__simple {
    margin-right: 0.2em;
    font-size: 1.25em;
    font-weight: 700;
  }

  &__scientific {
    font-style: italic;

    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}

.BirdRowContent {
  display: flex;
  margin-bottom: 1em;

  &__image {
    width: 10em;
    margin-right: 1em;
  }
}

.BirdRowRightContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__bps {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
  }
}

.BirdRowActions {
  display: flex;
  justify-content: flex-end;

  :not(:last-child) {
    margin-right: 1em;
  }
}
