@import 'app/styles/_colors.scss';

.BirdDetails {
  font-size: 1.3em;
  line-height: 1.75em;

  &__separator {
    padding-bottom: 1em;
    border-bottom: 1px solid $color-primary;
  }
}

.BirdDetailsHeader {
  position: relative;

  &__image {
    width: 100%;
  }

  &__screen {
    position: absolute;
    background: linear-gradient(
      to top,
      rgba($background-color, 1),
      rgba($background-color, 0.2)
    );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.BirdDetailsName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;

  &__simple {
    margin: 0;
  }

  &__scientific {
    margin: 0;
    font-style: italic;
  }
}

.BirdDetailsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__conservation-status {
    font-style: italic;
    color: $color-primary-light;
    display: block;
    text-align: end;
  }
}

.BirdDetailsMain {
  padding: 2em;

  &__description {
    text-align: justify;
  }
}

.BirdDetailsScores {
  padding: 0 0.5em;

  &__row:not(:last-child) {
    margin-bottom: 1em;
  }

  &__empty {
    font-style: italic;
    color: $color-primary-light;
  }
}
