/*
 * The styles here will be compiled with SASS, autoprefixed with postcss, and
 * injected into the <head /> of the application. Replace the temporary styles
 * below and get started!
 */

@import 'app/styles/_colors.scss';

body {
  background-color: $background-color;
  color: $color-primary;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
